body {
  width: 100%;
  margin: 0px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
}

body h1 {
  font-size: 24px;
}

body h2 {
  font-size: 19px;
}

.btn-main {
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 10px #b6b6b6;
          box-shadow: 0px 5px 10px #b6b6b6;
}

.btn-main a {
  color: #fff;
}

.btn-main:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0px 3px 10px #838383;
          box-shadow: 0px 3px 10px #838383;
}

.btn-return {
  min-height: 100%;
  font-size: 20px;
  padding: auto 25px;
  margin: auto 0px;
  background-color: white;
  border: none;
  outline: none;
  position: absolute;
  left: 5%;
}

.btn-return--inactive {
  visibility: hidden;
}

.btn-locator {
  width: 100%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: #575757;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 2.5px 4px #d1d1d1;
          box-shadow: inset 0px 2.5px 4px #d1d1d1;
}

.btn-locator i {
  margin: auto 13px;
}

@media only screen and (min-width: 768px) {
  .btn-locator {
    width: 180px;
    padding: 0px 20px 0px 0px;
    position: absolute;
    right: 5%;
    top: 12px;
    border-radius: 50px;
  }
}

header {
  width: 100%;
  text-align: center;
  position: relative;
}

header img {
  height: 100%;
  width: auto;
  margin: 20px 0px 15px 0px;
  z-index: -1;
}

@media only screen and (min-width: 1260px) {
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 50px auto;
  }
}

#intro {
  background-color: whitesmoke;
  text-align: center;
}

#intro h1 {
  margin: 0px;
  padding: 40px 0px;
}

#intro p {
  color: #575757;
  font-size: 17px;
  margin: 0px 0px 30px 0px;
}

#intro button {
  margin: 0px 0px 50px 0px;
  padding: 13px 20px;
}

@media only screen and (min-width: 768px) {
  #intro {
    width: 90%;
    margin: 10px auto;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1260px) {
  #intro {
    min-width: 60%;
  }
}

.how-it-works {
  width: 90%;
  margin: auto;
  padding: 20px 0px 30px 0px;
}

.how-it-works h1 {
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  .how-it-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how-it-works h1 {
    margin: 20px 0px 20px 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 1260px) {
  .how-it-works {
    margin: 0px 5%;
  }
  .how-it-works h1 {
    margin: 20px;
  }
}

.how-it-works__card {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 5px 10px #dddddd;
          box-shadow: 0px 5px 10px #dddddd;
  border-radius: 15px;
  margin: 20px 0px 20px 3%;
  padding: 2px 25px 2px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.how-it-works__card h4 {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 2px 7px;
  border-radius: 50px;
}

.how-it-works__card i {
  width: 6px;
  color: #575757;
}

.how-it-works__card p {
  margin: 17px 0px;
  padding: 0px 30px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .how-it-works__card {
    width: 22%;
  }
}

@media only screen and (min-width: 1260px) {
  .how-it-works__card {
    width: 100%;
  }
}

.how-it-works__card--highlighted {
  background-color: #f2eafb;
}

.how-it-works__card--highlighted i {
  color: #9356DC;
}

.restaurant-section {
  background-color: whitesmoke;
  padding: 30px 0px;
  width: 100%;
}

.restaurant-section a {
  width: 90%;
}

.restaurant-section h1 {
  width: 90%;
  margin: 0px auto 20px auto;
}

.restaurant-section__card {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px #b6b6b6;
          box-shadow: 0px 5px 10px #b6b6b6;
  position: relative;
  cursor: pointer;
}

.restaurant-section__card img {
  height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant-section__card h2 {
  margin: 10px 10px 4px 10px;
}

.restaurant-section__card p {
  margin: 0px 10px;
}

.new-tag {
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */