.btn-main{
    width: 180px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    margin: 30px auto 0px auto;
    padding: 13px 20px;
    position: relative;
    @include btn-gradient;
    @include drop-shadow;
    z-index: 1;
    overflow: hidden;

    a{
        color: #fff;
    }

    &:hover{
        @include drop-shadow--dark;

        &::after{
            opacity: 1;
        }
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include btn-hover--bg;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.btn-return{
    min-height: 100%;
    font-size: 20px;
    padding: auto 25px;
    margin: auto 0px;
    background-color: white;
    color: $font-dark;
    border: none;
    outline: none;
    position: absolute;
    left: 5%;
    cursor: pointer;

    &--inactive{
        visibility: hidden;
    }
}

.btn-locator{
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: 600;
    color: $font-dark;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 2.5px 4px rgb(209, 209, 209);
    
    i{
        margin: auto 13px;
    }

    @include tablet-only{
        width: 180px;
        padding: 0px 20px 0px 0px;
        position: absolute;
        right: 5%;
        top: 16px;
        border-radius: 50px;
    }
}

.btn-favorite{
    position: absolute;
    right: 20px;
    bottom: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: white;

    &--inactive{
        font-size: 20px;
    }

    &--active{
        @include btn-favorite-gradient;
        position: absolute;
        left: 5.5px;
        z-index: 1;
        opacity: 0;
        transform-origin: bottom;
        font-size: 20px;

        &:hover{
            animation: favorite-active 1s both;
        }

        &:hover + .btn-favorite--inactive{
            animation: favorite-inactive 1s both;
        }
    }
}