/*-----------loader----------*/
@keyframes loader-animation{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader-bg{
    0%{
        opacity: 1;
        z-index: -4;
    }

    90%{
        opacity: 1;
    }

    100%{
        z-index: -4;
    }
}